.card {
    /* padding-left: 500px;
    padding-top: 100px; */
    width: 500px;
    height: 400px;

    border: 2px solid black;
}
main{
    margin: 100px 0px 0px 400px;
}
img{
    padding-left: 150px;
    width: 200px;
}
.card-image{
    padding: 40px 0 40px 0;
    background-color: aquamarine;
}
.card-content{
    padding-top: 24px;
    background-color: aqua;
}